{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive – SuperShare</title>
    <link rel="stylesheet" href="{% static 'css/receive.css' %}">
</head>

<body>

    <div class="bg-animation">
        <div class="neural-network"></div>
        <div class="particles"></div>
    </div>

    <section class="hero">
        <div class="hero-content">
            <h1>Receive Files</h1>
            <p>Enter your 5-digit code</p>

            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}

            <form method="POST" novalidate>
                {% csrf_token %}

                <div class="code-drop-content">
                    <input type="text" name="code" maxlength="5" class="code-input" placeholder="• • • • •"
                        inputmode="numeric" autocomplete="off" />
                    <p id="error-msg" class="error-text"></p>
                </div>

                <button class="btn btn-primary" type="submit">Get Files</button>
            </form>

        </div>
    </section>

    <script src="{% static 'js/receive.js' %}"></script>
</body>

</html>